{% extends 'RTApp/base.html' %}
{% block content %}

<section class="services-section">
            <div class="auto-container">

                <div class="row clearfix">
                    <!--Title Block-->
                    <div class="title-block col-xl-6 col-lg-12 col-md-12 col-sm-12">
                        <div class="inner">
                            <div class="sec-title">
                                <h2>Robot <br>Teacher<span class="dot">.</span></h2>
                                <div class="lower-text">{{cls.std_description|upper}}</div>
                            </div>
                        </div>
                    </div>
                    <!--Service Block-->
                    {% if tops %}  
                    {% for i  in tops %}             
                    <div class="service-block col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms"
                        data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="bottom-curve"></div>
                            <div class="icon-box"><span class="flaticon-digital-marketing"></span></div>
                            <h6><a href="{{i.get_url}}" style="text-decoration: none;" class="btn btn-primary">{{i.topic_name}}</a></h6>
                        </div>
                    </div>
                    {% endfor %} 

                    {% else %}
                    <div class="service-block col-xl-3 col-lg-6 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms"
                        data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="bottom-curve"></div>
                            <div class="icon-box"><span class="flaticon-development"></span></div>
                            <h6>No Sections Are Avialable...</h6>
                        </div>
                    </div>
                    {% endif %}            
                </div>

            </div><br>
        </section>

{% endblock %}